/* ==========================================================================
   BASE
========================================================================== */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: inherit;
  cursor: pointer;

  gap: var(--space-8);
  font-weight: var(--font-weight-semibold);
  border: var(--border-default);
  border-radius: var(--radius-lg);
  transition: var(--transition-bg);
  box-shadow: var(--shadow-button);
}

/* ==========================================================================
   SIZES
========================================================================== */
.sm {
  padding: var(--space-8) var(--space-14);
  font-size: var(--font-size-14);
}

.md {
  padding: var(--space-10) var(--space-16);
  font-size: var(--font-size-16);
}

.lg {
  padding: var(--space-10) var(--space-18);
  font-size: var(--font-size-16); 
}

.xl {
  padding: var(--space-12) var(--space-20); 
  font-size: var(--font-size-16);
}

/* ==========================================================================
   Variants
========================================================================== */
.primary {
  background-color: var(--color-brand);
  color: var(--color-text-inverse);
  border-color: var(--color-brand);
}

.secondary {
  background-color: var(--color-bg-subtle);
  color: var(--color-text-secondary);
  border-color: var(--color-border);
}

.tertiary {
  background-color: transparent !important;
  color: var(--color-brand);
  border-color: var(--color-brand);
}

.link {
  background-color: transparent !important;
  color: var(--color-brand);
  border-color: transparent;
  padding: 0px;
  border-radius: var(--space-4);
  box-shadow: none;
  outline-offset: var(--space-4);
}

/* ==========================================================================
   States
========================================================================== */
.button.disabled {
  background-color: var(--color-brand-disabled);
  color: var(--color-text-disabled);
  cursor: not-allowed;
  opacity: 0.7;
}

.button:not(.disabled):hover {
  background-color: var(--color-brand-hover);
  border-color: var(--color-brand-hover);
}

.button:focus-visible, :focus {
  outline: var(--space-4) solid var(--color-focus-ring);
  outline-offset: var(--font-size-1);
  box-shadow: var(--shadow-lg);
}

/* ==========================================================================
   Icon Only Buttons
========================================================================== */
.iconOnly {
  aspect-ratio: 1 / 1;
  padding: 0;
}

.sm.iconOnly {
  padding: var(--space-8);
}

.md.iconOnly {
  padding: var(--space-10);
}

.lg.iconOnly {
  padding: var(--space-12);
}

.xl.iconOnly {
  padding: var(--space-14);
}

/* ==========================================================================
   INTENTS (e.g. Destructive)
========================================================================== */