/**
 * fonts.css
 *
 * Self-hosted Inter font-family.
 * Includes the following weights and styles:
 * - 300 (Light)        – Normal & Italic
 * - 400 (Regular)      – Normal & Italic
 * - 500 (Medium)       – Normal & Italic
 * - 500 (Semi Medium)       – Normal & Italic
 * - 700 (Bold)         – Normal & Italic
 */

@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/inter/Inter-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/inter/Inter-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/inter/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/inter/Inter-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/inter/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/inter/Inter-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/inter/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/inter/Inter-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/inter/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/inter/Inter-BoldItalic.woff2") format("woff2");
}
