.title {
  margin-bottom: var(--space-3);
  font-weight: 300;
}

.demo {
  margin: var(--space-12);
  padding: var(--padding-card);
  box-shadow: var(--shadow-sm);
}

.demo-row {
  display: flex;
  gap: var(--space-12);
  align-items: flex-start;

  margin-bottom: var(--space-24);
  padding: var(--space-22);
}

.description {
  max-width: 700px;
}

.btn-shadow-funky {
  border-radius: 20px 0 12px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  background-color: coral;
  box-shadow:
    rgb(19 19 138 / 85%) 0 30px 60px -12px inset,
    rgb(255 0 0 / 90%) 0 18px 36px -18px inset;
}

.btn-bg-funky {
  border-radius: 40px;

  font-family: "Comic Neue", cursive, sans-serif;
  font-size: var(--font-size-18) !important;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

  background-color: teal !important;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1L12.09 7.36H18.18L13.54 11.18L15.63 17.54L10 13.72L4.37 17.54L6.46 11.18L1.82 7.36H7.91L10 1Z' fill='%23000000' opacity='0.2' /%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 20px;

  animation: stars-scroll 6s linear infinite;
}

@keyframes stars-scroll {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 80px -80px;
  }
}
