h1, h2 {
    font-weight: 300;
}

.demo {
    margin: var(--space-12);
    padding: var(--padding-section);
}

.demo-row {
    display: flex;
    gap: var(--space-3);
    padding: var(--space-2);
    margin-bottom: var(--space-8);
    box-shadow: var(--shadow-sm);
}