h1, h2 {
    font-weight: 300;
}

.demo {
    margin: var(--space-12);
}

.demo-row {
    display: flex;
    gap: var(--space-3);
    box-shadow: var(--shadow-sm);
    padding: var(--space-2);
    margin-bottom: var(--space-8);
}